---
import Layout from "../layouts/Layout.astro";
import Init from "../sections/init.astro";
import About from "../sections/about.astro";
import Projects from "../sections/projects.astro";
import Skills from "../sections/Skills.astro";
---

<Layout title="Portafolio Alvaro M.">
  <main>
    <Init />
    <About />
    <Skills />
    <Projects />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-inline: 30px;
  }
  * {
    box-sizing: border-box;
  }
</style>
