---

---

<section id="about_me">
  <h3 class="title-section">sobre mi</h3>
  <div>
    <img src="perfil.jpeg" alt="" />
    <p>
      Estoy en mi último año como estudiante de Ingeniería Civil en Computación,
      y me apasiona el desarrollo de aplicaciones en todas sus formas, tanto web
      como móviles. Además de mis habilidades en desarrollo, también tengo
      experiencia y conocimientos en otras áreas clave de la computación, como
      machine learning, ciberseguridad y análisis de riesgos.<br />
      <br />Una de mis experiencias más destacadas fue trabajando en Alara, una
      startup que está desarrollando un sistema de seguridad innovador. Allí
      tuve la oportunidad de desarrollar una aplicación móvil utilizando
      Flutter, contribuyendo al proyecto desde una perspectiva técnica y de
      seguridad.<br /><br /> Además de mi experiencia técnica, siempre estoy buscando
      aprender nuevas tecnologías y enfrentar desafíos que me ayuden a mejorar como
      profesional en el mundo del desarrollo de software.
    </p>
  </div>
</section>

<style>
  section {
    width: 100%;
    padding-top: 60px;
    max-width: 920px;
    align-items: left;
    gap: 20px;
    display: flex;
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  div {
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items: center;
  }

  @media (max-width: 600px) {
    div {
      flex-direction: column;
    }
  }

  p {
    font-size: 1.1rem;
    color: var(--text);
    font-weight: 500;
  }
</style>
