---

---

<section id="init">
  <h3>Estudiante de Ingenieria Civil en Computacion</h3>
  <h2>Alvaro Martinez</h2>
  <p>
    Soy un estudiante de Ingenieria Civil en Computacion, me gusta la
    programacion y el desarrollo web, actualmente estoy aprendiendo Astro y me
    parece una herramienta muy interesante para el desarrollo web.
  </p>
</section>

<style>
  section {
    width: 100%;
    max-width: 920px;
    gap: 10px;
    align-items: left;
    min-height: 100vh;
    gap: 20px;
  }

  h2 {
    margin: 0;
    font-size: 3rem;
    color: var(--green-secundary);
  }

  h3 {
    margin: 0;
    font-size: 2rem;
    color: var(--text);
    padding: 0;
  }
  * {
    box-sizing: border-box;
  }
</style>
